.title
  &-logo
    color: $blue
    font-size: 1em
    font-weight: 600
  &-intro
    color: $blue
    font-size: 3em
    font-weight: 700
    &.big
      font-size: 4em
    &.desc
      color: $dark
      font-size: 1.1em
      font-weight: 500
      line-height: 1.5
  &-part
    color: $dark
    font-size: 1.75em
    font-weight: 600
    &.mini
      font-size: 1.25em
      em
        display: inline-flex
        margin-left: 16px
        padding: 2px 12px
        font-size: .85em
        font-style: normal
        border-radius: 4px

.steps
  background: #ffffff00 url('../../assets/svg/steps/left.svg') 30px 200px no-repeat
